body {
  margin: 0;
  background-color: #f0f0f0; /* Exemple de couleur de fond */
  font-family: Arial, sans-serif; /* Exemple de police */
}

main {
  height: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  background-color: #ffffff; /* Exemple de couleur de fond pour l'article */
  border: 1px solid #ddd; /* Exemple de bordure */
  padding: 20px; /* Exemple de remplissage */
  margin: 10px; /* Exemple de marge */
}

aside {
  flex: 1;
  overflow-y: auto;
  background-color: #e0e0e0; /* Exemple de couleur de fond pour la barre latérale */
  padding: 20px; /* Exemple de remplissage */
  margin: 10px; /* Exemple de marge */
}
